Popcorn-Time/
Trolltech.conf
VSCodium/
configstore/
dleyna-renderer-service.conf
font-manager/
greenclip.cfg
mimeapps.list
monitors.xml
monitors.xml~
pavucontrol.ini
pulse/
stacer/
systemd/
user-dirs.dirs
user-dirs.locale
xfce4/
pamac/
dconf/
Thunar/
chromium/
baloofileinformationrc
dolphinrc
glib-2.0/
kupfer/
trashrc
neofetch/
Code - OSS/
htop/
spotify/
google-chrome/
coc/
Postman/
leafpad/
gtk-2.0/
discord/
bleachbit/
gpick/
hexchat/
