VSCodium/
pulse/
Thunar/
neofetch/
htop/
spotify/
google-chrome/
coc/
leafpad/
hexchat/
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
dconf/
xfce4/
mimeapps.list
chromium/
configstore/update-notifier-npm.json
mozilla/
Postman/
smartgit/
jgit/
Mousepad/
