Popcorn-Time/
Postman/
Thunar/
VSCodium/
blender/
chromium/
dconf/
hexchat/
htop/
leafpad/
mozilla/
neofetch/
pulse/
smartgit/
spotify-tui/
spotify/
xfce4/
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale

discord
fontconfig/
VeraCrypt/
lxtask.conf
lxqt/