configuration {
theme: "~/.cache/wal/colors-rofi-dark.rasi";
width: 600;
lines: 15;
columns: 1;
show-icons: false;
font: "Iosevka Nerd Font Mono 15";
fixed-num-lines: true;
terminal: "kitty";
disable-history: true;
levenshtein-sort: true;
matching: "fuzzy";
hide-scrollbar: true;
fullscreen: false;

fake-transparency: true;
click-to-exit: true;
}